/*
App.js styles
 */
.body-app {
    height: 90%;
    margin-top: -22px;
    font:message-box;
    background-color: #c4bcb9;

}

/*
ShopCart.js styles
 */
.checkout {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 70%;
    border-radius: 10px;
    background-color: #f8f9fa;
    color: #343a40;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 700px;
}

.checkout__card-checkout{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*
Landing.js styles
 */
.landing-view{
    height: 820px;
}

.landing-view__text-landing{
    text-align: center;
    padding-top: 30px;
}

/*
Books.js styles
 */

.books__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.books{
    min-height: 741px;
}


/*
BookDetails.js styles
 */

.book-details__card__details *{
    margin-top: 10px;
    padding: 10px;
}

.book-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    width: 70%;
    border-radius: 10px;
    background-color: #f8f9fa;
    color: #343a40;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 711px;
}
.book-details * {
    margin: 5px;
}

.book-details img{
    height: 250px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.book-details h2{
    margin-top: 20px;
}
.book-details button{
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 40px;
}

.book-details__add-button{
    border-radius: 14px;
    background-color: #82ff78;
}

/*
SearchBook.js styles
 */

.div-search{
    height: 60px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div-search *{
    margin: 10px;
    font-size: 20px;
    border-radius: 15px;
}

/*
PayForm.js styles
 */

.form-pay *{
    font-size: 20px;
}

.form-pay__submit-button{
    border-radius: 15px;
    background-color: #008820;
}

/*
Header.js styles
 */

.header{
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4c4a4b;

}
.header__text{
    padding: 10px;
    margin-top: 37px;
    flex: 1;
    text-align: center;
    color: #e2e8f0;
}
.header__icon-focus{
    transition: transform 0.3s ease;
}
.header__icon-focus:hover{
    transform: scale(1.8);
}
.cart-sidebar {
    position: fixed;
    top: 0;
    right: -1000px; /* Oculto inicialmente */
    width: 300px;
    height: 600px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border: #61dafb 4px solid;
    padding: 20px;
    z-index: 1000;

}

/* Clase cuando el carrito está abierto */
.cart-sidebar.open {
    right: 0; /* Muestra el carrito */
    height: 600px;
    width: 350px;
    margin-top: 88px;
    margin-right: 20px;
}

/* Botón y otros estilos */
.cart-sidebar h2 {
    margin-top: 0;
    color: #333;
}

.cart-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.cart-sidebar li {
    margin: 10px 0;
}
.li-cart{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* O puedes usar gap si quieres más control */
    position: relative;
}

.li-cart-total{
    font-size: 20px;
    text-align: center;
}
.icon-delete{
    transition: transform 0.3s ease;
    margin-left: 40px;
}
.icon-delete:hover{
    transform: scale(1.5);
}
.cart-buttons{
    display: flex;
    justify-content: space-between ;
}
.clearCart-button {
    background-color: #880002;
    font-size: 14px;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.buyCart-button{
    background-color: #008820;
    font-size: 14px;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;

}
/*
Footer.js styles
 */

.footer{
    border: #0a0f0d 1px solid;

    height: 90px;
    background-color: #837b78;
}

.footer__card-text{
    text-align: center;
}

/*
BookCheckout.js styles
 */
.cart-checkout {
    background-color: #fcfff5;
    border: 1px solid #444;
    border-radius: 8px;
    margin: 20px;
    color: #0a0f0d;
    height: 340px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;
    overflow: hidden;
}


.cart-checkout img {
    height: 200px;
    width: 120px;
}
.cart-checkout__card-details *{
    margin-top: 10px;
    padding: 10px;
}
.cart-checkout__card-details{
    display: flex;
}
.cart-checkout__icon{

    transition: transform 0.3s ease;
}
.cart-checkout__icon:hover{
    transform: scale(1.5);
}

/*
Book.js styles
 */
.card {
    background-color: #fcfff5;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    color: #0a0f0d;
    height: 350px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;
    overflow: hidden;
}


.card img {
    transition: transform 0.5s ease-in-out, width 0.3s ease, height 0.3s ease;
    height: 200px;
    width: 120px;

}

.card img:hover {
    position: absolute;
    transform: scale(2);
}

.card__details{
    display: flex;

}
.card *{
    margin: 2px;
}
.card__details *{
    margin-top: 10px;
    padding: 10px;
}
.card__add-button{
    border-radius: 14px;
    background-color: #82ff78;
}
